.card{
   width: 300px;
   padding: 24px;
   border: 2px solid #000000;
   background-color: #ffffff;
   display:flex;
   flex-direction: column;
   align-items: center; 
   background-color: red;
   border-radius: 15px;
   height: 450px;
   text-align: center;
}
.logo{
    font-size: 80px;
}
.h1{
    text-transform: uppercase;
}
button{
    border: none;
    background-color: #000000;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    padding: 12px 28px;
    border-radius: 20px;
    margin-top: 24px;
}
.inline{
    display:inline-flex;
    padding: 90px;
    gap: 2em;
}
.box{
    width: 300px;
    padding: 24px;
    border: 2px solid #000000;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 15px;
    background-color: blue;
    text-align: center;
}
.boxes{
    width: 300px;
    padding: 24px;
    border: 2px solid #000000;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 15px;
    background-color:blueviolet ;
    text-align: center;
}
.navbar{
    min-width: 200px;
    max-width: 400px;
    margin: auto;
    display: inline-block;
    border: #000000;
    text-align: center;
    border-radius: 5px;
}